.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.member__avatar {
  max-width: 100%;
  height: 250px;
}
.member__name {
  margin-top: 24px;
}
.member__position {
  margin-top: 8px;
  max-width: 240px;
  text-align: center;
  font-size: 18px;
}
