@import "../../assets/styles/mixins";

.section--offers {
  overflow-x: hidden;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include xs {
    overflow: hidden;
  }
}

.offers__description {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .offers__img {
    width: 215px;
    height: 205px;
    margin-bottom: 50px;

    @include mobile-only {
      font-size: 118px;
      line-height: 112px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  & h3 {
    margin-bottom: 16px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;

    @include mobile-only {
      &:not(:last-of-type) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &:last-of-type {
      margin-bottom: 41px;
      font-style: italic;
    }
  }

  & p {
    width: 100%;
    max-width: 700px;
    margin-bottom: 83px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    @include mobile-only {
      margin-bottom: 50px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.offers {
  @include mobile-only {
    display: none;
  }

  .offer {
    width: 640px;
    height: 275px;
    padding: 71px 31px;
    box-sizing: border-box;

    &__text {
      font-size: 24px;
      line-height: 32px;
    }

    &:nth-child(even) {
      right: -77px;
      flex-direction: row-reverse;

      @include tablet-only {
        right: -10px;
      }
    }

    &:nth-child(odd) {
      right: 77px;

      @include tablet-only {
        right: 10px;
      }
    }

    &:nth-child(1) {
      .offer__path {
        left: 440px;
        width: 650px;
      }
    }

    &:nth-child(2) {
      .offer__path {
        right: 475px;
        bottom: -50px;
        width: 650px;
      }
    }

    &:nth-child(3) {
      .offer__path {
        left: 390px;
        bottom: 0;
        width: 650px;
      }
    }

    &:nth-child(4) {
      .offer__path {
        right: 440px;
        bottom: -75px;
        width: 650px;
      }
    }
  }
}

.offer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;
  width: 100%;

  & > * {
    z-index: 1;
  }
}

.offer__gradient-bg-0 {
  background: url("../../assets/images/offers/bg1.svg") no-repeat center;
  background-size: contain;
}

.offer__gradient-bg-1 {
  background: url("../../assets/images/offers/bg2.svg") no-repeat center;
  background-size: contain;
}

.offer__path {
  position: absolute;

  @include tablet-only {
    display: none;
  }
}

.slider--offers {
  display: none;

  @include mobile-only {
    display: block;
  }
}
