@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.bestApp {
  background: #3b4554;
  width: 100%;
  overflow: hidden;
}

.constainer {
  max-width: 613px;
  margin: 0 auto;
}

.best__inner {
  position: relative;
  display: block;
  padding-top: 90px;
  padding-bottom: 60px;
  margin: 0 auto;

  & > * {
    z-index: 1;
  }

  .textBest {
    max-width: 613px;
    line-height: 0.9;
    color: #fff;
    align-self: center;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .BestApp-TextSpan {
    display: block;
    margin-bottom: 42px;
  }

  .normal {
    max-width: 563px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
  }

  .BestWidth {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }

  .thank {
    margin-top: 39px;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  .stone1 {
    position: absolute;
    left: -162px;
    top: 285px;

     @include tablet-only {
      display: none;
    }
  }

  .stone2 {
    position: absolute;
    right: -60px;
    top: 228px;
    z-index: 0;

    @include tablet-only {
      display: none;
    }
  }
}
