@import '../../../assets/styles/mixins';

.header {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: #ffffff;
  padding-top: 64px;
  svg {
    height: 24px;
  }
  &.dark {
    .header__logo {
      fill: #3b4554;
    }
    .nav__item {
      color: #3b4554;
    }
  }
  @include xs {
    padding-top: 30px;
    .header__logo-link {
      width: 100%;
      justify-content: center;
    }
  }
}
.header__inner {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.header__logo-link {
  display: flex;
  margin-right: 8.3vw;
}
.header__logo {
  width: 95px;
  fill: #fff;
}
.header__back {
  width: 24px;
  display: none;
  @include xs {
    display: block;
  }
  svg {
    fill: #3b4554;
  }
}
.header .nav {
  display: flex;
  align-items: center;
  @include xs {
    display: none;
  }
}
.nav__item {
  margin-left: 32px;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: rgba($color: #fff, $alpha: 0.7);
  text-decoration: none;
  transition: 0.3s ease;
  &:hover {
    color: #3b4554;
  }
}
