@import "../../assets/styles/mixins";

.section--features {
  height: auto;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include ml {
      overflow-x: hidden;
    }
    @include mobile-only {
      min-height: 100vh;
      justify-content: center;
    }
    & .h-2 {
      margin-top: 125px;

      @include tablet-only {
        margin-top: 66px;
      }

      @include mobile-only {
        margin-top: 32px;
        margin-bottom: 10px;
      }
    }
  }

  @include xs {
    overflow-x: hidden;
  }
}

.features {
  width: 940px;
  display: flex;
  flex-direction: column;
  margin: -7% 0 20%;

  @include mobile-only {
    display: none;
  }

  .feature {
    &:nth-child(even) {
      flex-direction: row-reverse;
      margin-left: auto;
      margin-bottom: -3%;

      .feature__info {
        padding-left: 48px;
      }

      .feature__numb {
        margin: 0 -0.85em 0 -0.2em;
        text-align: right;
      }

      .feature__mockup {
        left: 90px;
        justify-content: flex-end;
      }

      @include md {
        margin-bottom: 5%;
      }

      @include sm {
        margin-bottom: 10%;
      }
    }

    &:nth-child(odd) {
      margin-bottom: -5%;

      .feature__info {
        padding-right: 48px;
      }

      .feature__numb {
        margin: 0 -0.2em 0 -0.85em;
      }

      @include md {
        margin-bottom: 2%;
      }

      @include sm {
        margin-bottom: 8%;
      }
    }

    &:nth-child(1) {
      margin-bottom: -13%;

      .feature__mockup {
        margin-bottom: -42%;
      }

      .feature__numb {
        margin: 0 -0.2em 0 -0.3em;
      }

      .feature__path {
        left: 500px;
        width: 650px;
      }
    }

    &:nth-child(2) {
      margin-bottom: -4%;

      .feature__mockup {
        left: 50px;
        margin-bottom: -25%;
      }

      .feature__numb {
        margin: 0 -0.8em 0 -0.2em;
      }

      .feature__path {
        right: 600px;
        bottom: 0;
        width: 650px;
      }

      @include md {
        margin-bottom: -7%;
      }
    }

    &:nth-child(3) {
      margin-bottom: 2%;

      .feature__mockup {
        margin-left: -50px;
      }

      .feature__numb {
        margin: 0 -0.4em 0 -0.7em;
      }

      .feature__path {
        left: 540px;
        bottom: -30px;
        width: 650px;
      }
    }

    &:nth-child(4) {
      margin-bottom: 4%;

      .feature__path {
        right: 650px;
        bottom: -250px;
        width: 650px;
      }

      .feature__mockup {
        margin-bottom: -31%;
      }
    }

    &:nth-child(5) {
      margin-bottom: 3%;

      .feature__path {
        left: 525px;
        bottom: -45px;
        width: 650px;
      }

      .feature__mockup {
        left: -70px;
        margin-bottom: -30%;
      }

      .feature__numb {
        margin: 0 -0.7em;
      }
    }

    &:nth-child(6) {
      .feature__path {
        right: 53%;
        top: 90%;
        width: calc(40vw - 55%);
      }

      .feature__numb {
        margin: 0 -1em 0 -0.7em;
      }
    }
  }
}

.feature {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;
  width: 100%;

  & > * {
    z-index: 1;
  }
}

.feature__descr {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5em;
}

.feature__mockup {
  position: relative;
  display: flex;
  margin-bottom: -33%;

  img {
    max-width: 100%;
  }

  .Video {
    position: absolute;
    left: 79px;
    top: 118px;
  }
}

.feature__numb {
  flex-grow: 1;
  font-weight: 900;
  font-size: 280px;
  color: rgba($color: #ffffff, $alpha: 0.5);
  z-index: 0;
}

.feature__gradient-bg {
  position: absolute;
  z-index: 0;
  @include xs {
    display: none;
  }
}

.feature__path {
  position: absolute;

  @include tablet-only {
    display: none;
  }
}

.feature__info {
  max-width: 345px;
  min-width: 270px;
}

.slider--features {
  display: none;

  @include mobile-only {
    display: block;
  }
}
