@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.madfit {
  padding-top: 42px;
  background: #3b4554;
  color: #fff;

  @include mobile-only {
    text-align: center;
    overflow: hidden;
  }

  .madfitLogo {
    margin-bottom: 32px;
    text-align: center;
  }

  .container {
    padding: 0;
  }

  & .h-2 {
    text-align: center;

    @include tablet-only {
      font-size: 32px;
      line-height: 40px;
    }

    @include mobile-only {
      font-size: 36px;
    }
  }

  .oneOfOur {
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    text-align: center;

    @include tablet-only {
      font-size: 32px;
      line-height: 40px;
    }

    @include mobile-only {
      font-size: 24px;
      line-height: 32px;
    }
  }

  & > * {
    z-index: 1;
  }
}

.madfit_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-height: 100vh;

  @include mobile-only {
    flex-direction: column;
    height: auto;
    min-height: 100%;
    max-height: 100%;
    padding-top: 0px;
  }

  .Banner-Blotch {
    right: 58px;
    width: 350px;

    @include tablet-only {
      bottom: unset;
      top: 136px;
      right: 6px;
      width: 352px;
      height: 321px;
    }

    @include mobile-only {
      top: unset;
      right: unset;
      width: 300px;
      height: auto;
    }
  }
}

.girlPwr {
  width: 600px;
  height: 600px;
  text-align: unset;

  @include tablet-only {
    width: 500px;
    height: 500px;
  }

  @include mobile-only {
    width: 250px;
    height: 290px;
  }
  @include mobile-only {
    width: 100%;
  }
  & img.girlPower {
    height: 100%;
    @include mobile-only {
      height: auto;
      width: 290px;
    }
  }

  & img {
    position: absolute;
    object-fit: contain;
    @include mobile-only {
      left: -12px;
    }
  }

  & img.girlPhone {
    height: 454px;
    top: 67px;
    left: 66px;

    @include tablet-only {
      top: 140px;
      left: 95px;
      height: 351px;
    }

    @include mobile-only {
      z-index: 100;
      left: 61px;
      top: -12px;
    }
  }
}

.madfit_advantages {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  @include mobile-only {
    margin-bottom: 32px;
  }
}

.officialApp {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;

  @include tablet-only {
    font-size: 32px;
  }
}

.appStore {
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: capitalize;

  @include tablet-only {
    font-size: 32px;
  }
}

.madfit_description {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  @include tablet-only {
    font-size: 18px;
    line-height: 24px;
  }
   @include mobile-only {
    opacity: 0.6;
  }
}

.madfit_caption {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;

  @include tablet-only {
    font-size: 24px;
    line-height: 32px;
  }
}

.madfit_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 28px;

  @include mobile-only {
    margin-top: -66vw;
    padding-right: 0px;
  }
}

.rect3 {
  @include tablet-only {
    width: 352px;
    height: 401px;
  }

  @include mobile-only {
    width: 293px;
    height: 267px;
  }
}

.mobile__none {
  @include mobile-only {
    display: none;
  }
}

.mobile--madfit {
  display: none;

  @include mobile-only {
    width: 201;
    height: 24px;
    display: inline-flex;
    z-index: 2;
  }
}

.wave {
  display: none;

  @include mobile-only {
    display: block;
    width: 100vw;
    position: relative !important;
  }
}

.waveBlock {
  position: relative;

  @include mobile-only {
    top: -29vw;
  }
}

.logo {
  top: -58vw;
  position: relative;
}
