@import "../../../assets/styles/mixins";

.footer {
  padding: 100px 0 38px;
  //background-color: #3b4554;
  background-color: #fff;
  color: #fff;

  @include xs {
    padding: 50px 0 41px;
  }

  .footer__section {
    max-width: 768px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    color: #3b4554;
  }

  .name__logo {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
  }

  .number {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .email {
    width: 161px;
    margin: 12px auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  .nav__footer {
    max-width: 213px;
    display: flex;
    margin: 40px auto 34px;
    justify-content: space-between;
  }

  .nav_item_footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #3b4554;
    transition: 0.3s ease;
  }

  .ltd {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
  }
}
