@import './reboot';
@import './fonts';
@import './variables';
@import './mixins';
@import './animations';
body,
html,
#root,
.page-wrap {
  height: 100%;
}

body {
  font-size: 24px;
  font-family: 'Boston', sans-serif !important;
  font-weight: 400;
  background-color: #f9f9f9 !important;
  color: #3b4554 !important;
  margin: 0;
  @media only screen and (max-width: 580px) {
    font-size: 16px;
  }
}
.container {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 16px;
}
.icon {
  font-size: 1em;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b4455;
  margin: 0;
}
.h-1,
.h-2,
.h-3,
.h-4,
.h-5 {
  margin-bottom: 0;
  font-family: 'Boston', sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3b4554;
  font-weight: 700;
}
.h-1,
.h-2 {
  text-transform: uppercase;
  font-weight: 900;
}

.h-5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @include tablet-only {
    font-size: 14px;
    line-height: 18px;
  }
}

.h-4 {
  font-size: 24px;
}
.h-3 {
  font-size: 32px;
}
.h-2 {
  font-size: 40px;
}

.h-1 {
  font-size: 72px;
  line-height: 70px;

  @include tablet-only {
    font-size: 40px;
    line-height: 48px;
  }

  @include mobile-only {
    font-size: 32px;
    line-height: 40px;
  }
}

.icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  fill: currentColor;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: 700;
}
.text-heavy {
  font-weight: 900;
}
.text-crossed {
  text-decoration: line-through;
}
.text-underline {
  text-decoration: underline;
}
.flip-hr {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
